<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Luis Fernando Armas Perez</title>
	
	<!-- Tab icon -->
    <link rel="icon" href="../static/imgs/LogoBlancoLFAP.png" th:href="@{/imgs/LogoBlancoLFAP.png}"/>
    
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
     <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    
</head>

<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Agregar contactos</h1>
			<br/>
			<form action="#"th:action="@{/contacts/addcontact}" th:object="${contactModel}" method="post">
				<input type="hidden" th:field="*{id}"></input>
				Nombre / Name: <input type="text" class="form-control" th:field="*{firstname}" th:value="${firstname}"></input>
				<br/>
				Apellido / Last name: <input type="text" class="form-control" th:field="*{lastname}" th:value="${lastname}"></input>
				<br/>
				Teléfono / Phone: <input type="text" class="form-control" th:field="*{telephone}" th:value="${telephone}"></input>
				<br/>
				Ciudad / City: <input type="text" class="form-control" th:field="*{city}" th:value="${city}"></input>
				<br/>
				<br/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceptar / Accept
				</button>
				<br>
			</form>
				<a href="../templates/contacts.html" th:href="@{/contacts/cancel}">
					<button class="btn btn-lg btn-primary btn-block" type="submit">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar / Cancel
					</button>
				</a>
		</div>
	</div>

</body>
</html>