<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

  <head>
  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luis Fernando Armas Perez</title>
    
    <!-- Tab icon -->
    <link rel="icon" href="../static/imgs/LogoBlancoLFAP.png" th:href="@{/imgs/LogoBlancoLFAP.png}"/>
   
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    
    <style>
      img[src*="LogoBlackLFAP.png"] {
      display: block;
      margin: 0 auto;
      }
    </style>
     
  </head>
  
  <body>
  
    <header>
      <!-- the next code is about navbar of bootstrap -->
      <nav class="navbar navbar-expand-lg fixed-top bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../templates/PrincipalPage.html" th:href="@{/vistas/PrincipalPage}"/>
          <!-- Nav bar icon --> 
            <img src="../static/imgs/LogoBlackLFAP.png"  th:src="@{/imgs/LogoBlackLFAP.png}" alt="" width="40" height="40"/>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> Menú
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../templates/index.html" th:href="@{/vistas/showindex}"/>Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../templates/mensajeR2D2.html" th:href="@{/vistas/mensajeR2D2}"/>Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../templates/mensajeR2D2.html" th:href="@{/vistas/mensajeR2D2}"/>Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/luis-fernando-armas-perez-6aa0801ab/">Contactame</a>
              </li>
              <li class="nav-item">
                <div class="btn-group" role="group">
    		  		<button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Idioma</button>
    					<ul class="dropdown-menu">
      						<li><a class="dropdown-item" href="../templates/registrate.html" th:href="@{/vistas/newUserForm}">Español</a></li>
      						<li><a class="dropdown-item" href="../templates/registrateEnglish.html" th:href="@{/vistas/newUserFormEnglish}"/>Ingles</a></li>
    					</ul>
  			  	</div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../templates/registrateEnglish.html" th:href="@{/vistas/newUserFormEnglish}">
                	<img src="../static/imgs/Bandera Argentina.png"  th:src="@{/imgs/Bandera Argentina.png}" alt="" width="30" height="30"/>
                </a>
              </li>
            </ul>
          </div>
            <form class="d-flex" role="">
              <a href="../templates/login.html" th:href="@{/vistas/IniciarSesion}" class="btn btn-outline-success"/>Iniciar sesión</a>
            </form>
        </div>
      </nav>
    </header>
  <br>
  <br>
  <br>
    
      <div class="container">
     
        <form class="row g-3">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <nav class="nav-link" href="#"><img src="../static/imgs/LogoBlackLFAP.png"  th:src="@{/imgs/LogoBlackLFAP.png}" alt="" width="20%" height="20%"/></nav>
                </li>
            </ul>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Palermo 7788">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Apartamento/Piso</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Piso A, Departamento L">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Ciudad</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">Estado</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Acepto que todo los datos son correctos
                </label>
              </div>
            </div>
            <!--  boton original
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
            -->
          </form>
          <br>
          <a  href="../templates/SMSespañol.html"th:href="@{/vistas/SMSespañol}"/>
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
          </a>
          
      </div>
      
    <!-- Animacion img-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
  </body>
</html>