<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

  <head>
  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luis Fernando Armas Perez</title>
    
    <!-- Tab icon -->
    <link rel="icon" href="../static/imgs/LogoBlancoLFAP.png" th:href="@{/imgs/LogoBlancoLFAP.png}"/> 
    
     <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/mensajeStarwars.css" th:href="@{/css/mensajeStarwars.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/efectoOvni.css" th:href="@{/css/efectoOvni.css}"/>
    
    <!-- Custom Js for this template -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script href="../static/JavaScript/efectoOvni.js" th:href="@{/JavaScript/efectoOvni.js}" rel="stylesheet"/></script>
       
  </head>
  
  <body class="d-flex">
     <br>
     <br>
  	 <main class="container d-flex justify-content-center">
    	<div class="card border-info mb-3" data-aos="zoom-in" data-aos-duration="1500" style="max-width: 700px;">
      		<div class="row g-0">
        		<div class="col-md-8">
        			<img id="ovni" class="ovni img-fluid" width="500px" height="300px" src="../static/imgs/LuisAstronauta.png" th:src="@{/imgs/LuisAstronauta.png}">
        		</div>
          		<div class="card-body">
            		<h3 class="card-title">MENSAJE ESPACIAL</h3>
            		<h4 class="card-title">¡¡ EN CONSTRUCCIÓN ¡¡</h4>
            		<br>
            		<p class="card-text">Esta parte del proyecto está en desarrollo</p>
            		<p class="card-text">¡¡¡ pronto estará listo¡¡¡</p>
            		<p class="card-text">Ingresa con el USUARIO = user</p>
            		<p class="card-text">CONTRASEÑA = user</p>
            		<p class="card-text"><small class="text-muted">¡¡¡ DISFRUTALO ¡¡¡</small></p>
            		<form class="d-flex" role="">
              			<a href="../templates/PrincipalPage.html" th:href="@{/vistas/PrincipalPage}" class="btn btn-outline-success"/>REGRESAR</a>
            		</form>
          		</div>
        	</div>
     	 </div>
      </main>
      
      <!-- Animation -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
      	AOS.init();
      </script>
  	  
  </body>
</html>